.span {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

.mat-form-field, .parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.mat-card-footer .mat-divider {
    max-width: 400;
}
