<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-button routerLink="/test">
    <mat-icon>home</mat-icon>
    {{title}}
  </button>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/reservation">Réserver une salle</button>
    <button mat-button routerLink="/users">Liste Utilisateurs</button>
    <button mat-button routerLink="/new-user">Créer un compte</button>
    <button mat-button routerLink="/auth">S'identifier</button>
    <button mat-button routerLink="/auth">Se déconnecter</button>
  </div>
</mat-toolbar>

<mat-toolbar class="meeting-bg" style="height:400px;">
</mat-toolbar>
  <router-outlet></router-outlet>
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <span class="span">Application réalisée par Nicolas SIVIGNON. © Copyright</span>
  </mat-toolbar>


