.mat-form-field, .parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.span {
    text-align: center;
    display: inline-block;
    width: 100%;
  }